<h1>Welcome to ShareAttraction<%= @user.username %>!</h1>

<p>
  <%= "#{@greeting} #{@user.username}" %> 
  <a href="https://join.slack.com/t/shareattraction/shared_invite/zt-su52nacg-sBNaBr6SyT6B8q9L~~HnhQ">Join our Slack</a>
  
</p>
