<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590615370581-265ae19a053b);">
  <div class="container">
    <h1>With ShareAttraction, promote <strong>your content</strong> with the help
    of <strong>your community</strong>!</h1>
    <p>Grow your audience now!</p>
    <%= link_to  "Sign up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>