<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590615370581-265ae19a053b);">
  <div class="container">
    <h1><%= t 'banner.text'  %></h1>
    
    <p><%= t 'banner.slogan'  %></p>
    <%= link_to  t("banner.join"), new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>