<h1>Share Attraction</h1>
<div class="row">
 <% @posts.each do |post| %>
  <div class="col-sm-5">
    <div class="card-article ">
      <img src="https://source.unsplash.com/random?sig=<%=rand(100) %>" />
      <div class="card-article-infos">
        <h2><%= link_to post.title, post_path(post) %></h2>
        
        <p class="card-author"><%=  post.user.email %> for <%=  link_to post.attraction.name, attraction_path(post.attraction) %></p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
 
