<h1>Invite members to your attraction</h1>
<%= form_tag batch_invite_attraction_users_path, method: :post do %>
  <%= label_tag "Email ids of people you'd like to invite." %>
  <%= text_area_tag :user_emails %>
  <%= submit_tag "Invite!" %>
<% end %>